@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  flex-direction: row-reverse;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.search-bar {
  width: 200px;
  height: 100px;
  max-width: 200px;
}

.search-ui-container {
  width: 40vw;
  height: 100vh;
  background-color: #222222;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-canvas-container {
  position: absolute;
  height: 50vh;
  width: 40vw;
  grid-column-start: 1;
  z-index: 0;
}

.canvas-container {
  width: 60vw;
  height: 100vh;
  background: #111;
  position: relative;
}

.dropdown {
  background: #000;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 200px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}
